body {
  text-align: center;
  padding: 50px;
  background-color: #fff7ee;
}
.left {
  background-color: #f05f55;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
.innerLeft {
  background-color: #fff7ee;
  color: #005a74;
  height: 500px;
  padding: 50px;
}
.right {
  background-color: #80a696;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.innerRight {
  background-color: #fff7ee;
  color: #ef535c;
  height: 500px;
  overflow: scroll;
  padding: 50px;
}

.trigger {
  margin: 50px;
}
